body {
  background: #f7f8ff;
}

a {
  color: #0054A3;
}

.navbar {
  background-color: #363636;
  border-bottom-color: #2b2b2b;
  color: white;
}
.navbar .site-name {
  color: white;
}
.navbar .links {
  background: none;
}
.nav-links a:hover, .nav-links a.router-link-active {
  color: white;
}

.sidebar {
  background-color: #2b2b2b;
  color: white;
}
a.sidebar-link {
  color: white;
}
a.sidebar-link:hover {
  color: #00d4ff;
}
a.sidebar-link.active {
  color: #00d4ff;
  border-left-color: #00d4ff;
}